<a href="https://colab.research.google.com/github/James-Arogo/Parrot/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

g7_pop=pd.Series ([54,27,340,631,6,27,19])
g7_pop.name='G7 Population In Millions'
g7_pop

0     54
1     27
2    340
3    631
4      6
5     27
6     19
Name: G7 Population In Millions, dtype: int64

In [5]:
g7_pop.index=[
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]
g7_pop

Canada             54
France             27
Germany           340
Italy             631
Japan               6
United Kingdom     27
United States      19
Name: G7 Population In Millions, dtype: int64

In [6]:
g7_pop.dtype

dtype('int64')

In [7]:
type(g7_pop.values)
g7_pop

Canada             54
France             27
Germany           340
Italy             631
Japan               6
United Kingdom     27
United States      19
Name: G7 Population In Millions, dtype: int64

In [9]:
g7_pop[0]

<ipython-input-9-b2bde9ba87b3>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  g7_pop[0]

np.int64(54)

In [10]:
g7_pop[0]

<ipython-input-10-b2bde9ba87b3>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  g7_pop[0]

np.int64(54)

In [11]:
g7_pop.iloc[0]

np.int64(54)

In [12]:
g7_pop.iloc[[0,1]]
g7_pop

Canada             54
France             27
Germany           340
Italy             631
Japan               6
United Kingdom     27
United States      19
Name: G7 Population In Millions, dtype: int64

In [13]:
g7_pop[(g7_pop>g7_pop.mean()-g7_pop.std()/2)| (g7_pop>g7_pop.mean()+g7_pop.std()/2)]

Canada      54
Germany    340
Italy      631
Name: G7 Population In Millions, dtype: int64

In [14]:
g7_pop

Canada             54
France             27
Germany           340
Italy             631
Japan               6
United Kingdom     27
United States      19
Name: G7 Population In Millions, dtype: int64

In [18]:
g7_pop + 1_00_00

Canada            10054
France            10027
Germany           10340
Italy             10631
Japan             10006
United Kingdom    10027
United States     10019
Name: G7 Population In Millions, dtype: int64

In [19]:
g7_pop >70

Canada            False
France            False
Germany            True
Italy              True
Japan             False
United Kingdom    False
United States     False
Name: G7 Population In Millions, dtype: bool

In [20]:
g7_pop>70

Canada            False
France            False
Germany            True
Italy              True
Japan             False
United Kingdom    False
United States     False
Name: G7 Population In Millions, dtype: bool

In [21]:
g7_pop[g7_pop>g7_pop.mean()]

Germany    340
Italy      631
Name: G7 Population In Millions, dtype: int64

In [22]:
g7_pop

Canada             54
France             27
Germany           340
Italy             631
Japan               6
United Kingdom     27
United States      19
Name: G7 Population In Millions, dtype: int64

In [24]:
g7_pop.std()

239.5883374218608

In [25]:
g7_pop.mean()

np.float64(157.71428571428572)

In [26]:
g7_pop [g7_pop>g7_pop.mean()]

Germany    340
Italy      631
Name: G7 Population In Millions, dtype: int64

In [35]:
g7_pop[(g7_pop>100) | (g7_pop<250)]

Canada             40
France             27
Germany           340
Italy             631
Japan               6
United Kingdom     27
United States      19
Name: G7 Population In Millions, dtype: int64

In [28]:
g7_pop[(g7_pop>30) & (g7_pop<150)]

Canada    54
Name: G7 Population In Millions, dtype: int64

In [32]:
g7_pop['Canada']=40

In [33]:
g7_pop

Canada             40
France             27
Germany           340
Italy             631
Japan               6
United Kingdom     27
United States      19
Name: G7 Population In Millions, dtype: int64

In [34]:
g7_pop['Canada']=40
g7_pop

Canada             40
France             27
Germany           340
Italy             631
Japan               6
United Kingdom     27
United States      19
Name: G7 Population In Millions, dtype: int64

In [36]:
g7_pop.iloc[-1]=500
g7_pop

Canada             40
France             27
Germany           340
Italy             631
Japan               6
United Kingdom     27
United States     500
Name: G7 Population In Millions, dtype: int64

In [42]:
g7_pop[g7_pop<70]=99
g7_pop

Canada            99.0
France            99.0
Germany           99.0
Italy             99.0
Japan             99.0
United Kingdom    99.0
United States     99.0
Name: G7 Population In Millions, dtype: float64